# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Databases, Cache & Padron Datasets
data/cache/*
data/checkpoints/*
*.db
*.zip
*.txt

# Output exports & logs
output/exports/*.xlsx
output/logs/*.log
*.xlsx
